/**
 * app not found
 * @authors Ping YF (koakumaping@163.com)
 * @date    2015-11-10 10:19:55
 * @version $Id$
 */
 
 .app-not-container {
    background: #f1f1f1;
 }

.app-not-found-img {
	padding-top: 5rem;
	padding-bottom: 2rem;
}

.app-not-found-text {
	padding: 5px 0;
}

.app-not-found-footer {
	padding-top: 6rem;
    padding-bottom: 6rem;
}