/**
 * carousel
 * @authors Ping YF (koakumaping@163.com)
 * @date    2015-10-28 14:01:13
 * @version $Id$
 */

.carousel {
    position: relative;
    background: #fff;
    color: #666;
    text-align: center;
    text-shadow: none;
    border-radius: 6px;
    overflow: hidden;
}

.carousel-ul {
	padding: 0;
	margin: 0;
    left: 0;
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}

.carousel-ul-li {
	list-style: none;
    /*width: 25%;*/
    float: left;
}

.carousel-img {
	display: block;
	position: relative;
	left: 0;
    width: 100%;
    height: 100%;
}

.carousel .focus {
    min-height: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    z-index: 2;
}

.carousel .focus-div {
    /*width: 80px;*/
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -5px;
}

.carousel .focus-div-span {
    display: block;
    float: left;
    cursor: pointer;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    border-radius :50%;
    border: 2px solid #ffffff;
    background: transparent;;
    font-size: 0;
}

.carousel .focus span.current {
    width: 10px;
    height: 10px;
    border: none;
    background: #FF7054;
}

/*OLD*/


/*.carousel {
    display: none;
    position: relative;
    overflow: auto;
}

.carousel-ul {
    padding: 0;
    margin: 0;
}

.carousel-ul-li {
    list-style: none;
    float: left;
}

.carousel-img {
    display: block;
    position: relative;
    left: 0;
}*/