/**
 * checkbox
 * @authors Ping YF (koakumaping@163.com)
 * @date    2015-10-29 12:56:51
 * @version $Id$
 */

.checkbox-label {
	display: block;
    margin-top: -3px;
    position: relative;

	width: 23px;
	height: 23px;
    background: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
}

.checkbox-label[for=male],
.checkbox-label[for=female],
.checkbox-label[for=secret] {
    margin-left: 10%;
}

.checkbox-label:after {
	opacity: 0;
    content: '';
    position: absolute;
    width: 12px;
    height: 7px;
    background: transparent;
    top: 6px;
    left: 5px;
    border: 3px solid #1DD767;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*label[for=checkbox]:hover::after {
	opacity: 0.5;
}*/

input[type=checkbox]:checked + .checkbox-label:after {
	opacity: 1;
}

.checkbox-label + span {
	margin-left: 2px;
    display: block;
    text-align: right;
}