footer {
	height: 20px;
	font-size: 14px;
	text-align: center;
	margin-bottom: 200px;
}

header {
	position: relative;
	height: 120px;
	line-height: 120px;
	margin: 2px 40px;
}

header .title {
	position: relative;
	height: inherit;
	line-height: inherit;
	height: inherit;
}

header .title .tag {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 80px;
	line-height: 80px;
	border-bottom: 2px solid #DFDFDF;
}

header .title div {
	float: left;
	line-height: inherit;
	height: inherit;
}

header .title .logo {
	margin-right: 60px;
	line-height: inherit;
	height: inherit;
	line-height: inherit;
}

header .title .logo img {
	line-height: inherit;
	height: inherit;
}

header .title .qrcode {
	position: absolute;
	right: 20px;
}

header .title .qrcode img {
	width: 100px
}

header .title .qrcode div {
	float: none;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

header .title .active {
	border-bottom: 2px solid #F07D00;
}

header label {
	display: inline-block;
	padding-left: 1rem;
	vertical-align: bottom;
	height: 40px;
	line-height: 40px;
	font-weight: 800;
	font-size: 28px;
}

header span {
	position: absolute;
	height: 40px;
	line-height: 40px;
	left: 70px;
	top: 40px;
	color: #F07D00;
	font-weight: 600;
}

@media only screen and (max-width: 768px) {
	header {
		margin: 2px 3px;
		height: 100px;
		line-height: 100px;
	}
	header .title .tag {
		width: 120px;
		height: 65px;
		line-height: 65px;
	}
	header span {
		top: 25px;
	}
	header .title .qrcode img {
		width: 80px
	}
}

@media only screen and (min-width: 376px) and (max-width: 767px) {
	header {
		height: 60px;
		line-height: 60px;
	}
	header .title .tag {
		width: 100px;
		height: 35px;
		line-height: 35px;
	}
	header .title .logo {
		margin: 0 15px;
	}
	header .title .logo img {
		height: 50px;
	}
	header .title .qrcode {
		display: none;
	}
	header label {
		height: 42px;
		line-height: 42px;
		font-size: 18px;
	}
	header span {
		top: 2px;
		left: 50px;
	}
	footer {
		margin-bottom: 120px;
	}
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
	header {
		height: 60px;
		line-height: 60px;
	}
	header .title .tag {
		width: 85px;
		height: 35px;
		line-height: 35px;
	}
	header .title .logo {
		margin: 0 10px;
	}
	header .title .logo img {
		height: 50px;
	}
	header .title .qrcode {
		display: none;
	}
	header label {
		height: 48px;
		line-height: 48px;
		font-size: 16px;
	}
	header span {
		top: 5px;
		left: 45px;
	}
	footer {
		margin-bottom: 120px;
	}
}

@media only screen and (max-width: 320px) {
	header {
		height: 40px;
		line-height: 40px;
	}
	header .title .tag {
		width: 85px;
		height: 30px;
		line-height: 30px;
	}
	header .title .logo {
		margin: 0 5px;
	}
	header .title .logo img {
		height: 40px;
	}
	header .title .qrcode {
		display: none;
	}
	header label {
		font-size: 14px;
	}
	header span {
		top: 0px;
		left: 43px;
		font-size: 10px;
	}
	footer {
		margin-bottom: 120px;
	}
}