/**
 * imgUpload
 * @authors Ping YF (koakumaping@163.com)
 * @date    2015-11-05 15:19:59
 * @version $Id$
 */

.img-upload-dialog {
    display: none;
    position: absolute;
    /*bottom: 0;*/
    z-index: 9999;
    background: #ffffff;
}

.img-upload-dialog-text {
	padding: 15px 0;
}

.img-upload-dialog-input {
	position: absolute;
	opacity: 0;
	overflow: hidden;
    left: 0;
    top: 0;
    padding: 15px 0;
}

.img-upload-dialog-button {
	border-top: 1px dashed #D4D4D4;
}

.img-upload-dialog-button {
    background: transparent;
    color: #000000;
    padding: 15px 0;
}