/**
 * information
 * @authors Ping YF (koakumaping@163.com)
 * @date    2015-10-28 15:21:15
 * @version $Id$
 */

.information-text {
	padding: 15px 15px;
}

.information-text-area {
	padding: 15px 15px;
	overflow: hidden;
	/*display: block;*/
	/*border: 0;*/
}