/**
 * messageboard
 * @authors Ping YF (koakumaping@163.com)
 * @date    2015-10-28 15:42:11
 * @version $Id$
 */

.msgboard {
	/*padding: 4px;*/
}

.msgboard-img {
	height: 10px;
	background: url(../img/messageboard/top.png) no-repeat center;
	background-size: 100%;
	overflow: hidden;
}

.msgboard-input {
	padding: 10px 0;
}

.msgboard-textarea {
    padding: 0;
    width: 100%;
}

.msgboard-submit {
	padding-bottom: 20px;
}

.msgboard-submit button {
	padding: 7px 0;
}

.msgboard-list-item {
	border-top: 1px dashed #D4D4D4;
	padding: 15px 0;
}

.msgboard-nick {
	display: block;
	padding: 10px 0;
	margin-left: 3px;
}

@media screen and (max-width:320px){
	.msgboard-nick {
		padding: 4px 0;
	}
}

.msgboard-message {
	padding: 10px 0;
    word-wrap: break-word;
}

.msgboard-reply {
	padding: 10px 0;
}

.msgboard-reply-list {
	padding: 10px 0;
	border-radius: 5px;
}

.msgboard-reply-list:before {
	content: " ";
	margin-top: -35px;
	margin-left: 15px;
	/*margin:-6px 0px 0px 0px;*/
	border: 13px solid transparent;
    border-top-color: rgb(236, 236, 236);
	position:absolute;
	/*border-color:#ECECEC transparent transparent transparent;*/
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	/*z-index: 9;*/
}

.msgboard-reply-list > div > span {
    word-break: break-all;
}

.more {
	padding: 30px 0;
	border-top: 1px dashed #D4D4D4;
	/*border-bottom: 1px dashed #D4D4D4;*/
}