/**
 * nav
 * @authors Ping YF (koakumaping@163.com)
 * @date    2015-11-10 09:53:14
 * @version $Id$
 */

.nav {
	height: 4rem;
	position: fixed;
	bottom: 0;
	background: #ffffff;
	padding-top: 10px;
    box-shadow: 0 1px 1px 1px #716F6F;
}

@media screen and (min-width: 1024px) {
    .nav {
        width: 740px;
        margin-left: auto;
        margin-right: auto;
    }
}

.nav-img {
	height: 2rem;
}

.nav-img > img {
	height: inherit;
}

.nav-title {
	padding-top: 3px;
}