/**
 * send
 * @authors Ping YF (koakumaping@163.com)
 * @date    2015-12-10 16:48:20
 * @version $Id$
 */

.send-text {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.send-textarea {
	padding: 0.833333rem 0 0.833333rem 0;
}

.send-sms {
	padding-top: 2rem;
}

.send-warn {
	padding: 0.416667rem 0 0.416667rem 0;
}