<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">




	<description>Spring公共配置 </description>
	
	<!-- <import resource="spring-mybatis.xml" />  -->
	<!-- 载入类路径下的properties属性文件 -->
	<context:property-placeholder location="classpath:*.properties" />
	<import resource="classpath*:spring/app-context-database.xml" />
	<import resource="spring-mvc.xml" />
	<aop:aspectj-autoproxy />

	<!-- 使用annotation 自动注册bean,并保证@Required,@Autowired的属性被注入 -->
	<context:component-scan base-package="com.zoo">
		<!-- 在编译时就会织入声明为切面的类 因此服务器启动时要排除 -->
		<context:exclude-filter expression=".*_Aspect.*" type="regex" />
		<!-- 在装载spring mvc 时会加载这些Controller 因此在这边排除加载 如果不排除会造成事务失效 -->
		<context:exclude-filter expression="org.springframework.stereotype.Controller" type="annotation" />
	</context:component-scan>
	
<!-- 	<context:component-scan base-package="com.util.security">
		在编译时就会织入声明为切面的类 因此服务器启动时要排除
		<context:exclude-filter expression=".*_Aspect.*" type="regex" />
		在装载spring mvc 时会加载这些Controller 因此在这边排除加载 如果不排除会造成事务失效
		<context:exclude-filter expression="org.springframework.stereotype.Controller" type="annotation" />
	</context:component-scan>
 -->
	<!--<import resource="classpath*:spring/spring-mvc.xml" />
	<import resource="classpath*:spring/spring-mongo.xml" />
	<import resource="classpath*:spring/spring-security.xml" />-->
	
	<!-- <bean id="manageContextLoad" class="com.zm.zmstat.config.manageContextLoad" 
					lazy-init="false" init-method="contextInitialized">
	</bean> -->
<!-- 	<bean id="awifiPayContextLoad" class="com.zm.zmstat.config.AwifiPayContextLoad" 
					lazy-init="false" init-method="contextInitialized">
	</bean> -->
	
</beans>