<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd     http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">
	
	<mvc:resources location="/WEB-INF/assets/" mapping="/assets/**"/>
	<mvc:resources location="/WEB-INF/sound/" mapping="/sound/**"/>
	<mvc:resources location="/WEB-INF/image/" mapping="/image/**"/>
    <!--<mvc:resources location="/error/" mapping="/error/**" />-->
	<mvc:resources location="/html/" mapping="/html/**"/>
	<mvc:default-servlet-handler/>
	<!-- 只扫描@Controller注释的类 -->
	
	<context:component-scan base-package="com.zoo" use-default-filters="false">
		<context:include-filter expression="org.springframework.stereotype.Controller" type="annotation" />
	</context:component-scan>
	<context:component-scan base-package="com.zoo" />
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
	<!-- <bean id="notNullObjectMapper" class="org.codehaus.jackson.map.ObjectMapper">
		<property name="serializationInclusion">
			<value type="org.codehaus.jackson.map.annotate.JsonSerialize.Inclusion">NON_NULL</value>
		</property>
	</bean> -->
	<bean id="jsonResultNamingStrategy" class="com.util.common.JsonResultNamingStrategy"></bean>
	<bean id="notNullObjectMapper" class="com.fasterxml.jackson.databind.ObjectMapper">
		<property name="serializationInclusion">
			<value type="com.fasterxml.jackson.annotation.JsonInclude.Include">NON_NULL</value>
		</property>
		<property name="propertyNamingStrategy" ref="jsonResultNamingStrategy"></property>
	</bean>
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" >
				<property name="objectMapper" ref="notNullObjectMapper" />
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=utf-8</value>
					</list>
			    </property>
			</bean>
			
			<!-- xml 转化器 如果需要 需要加入相应的jar包 -->
<!-- 			<bean class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter"> -->
<!-- 				<constructor-arg ref="jaxbMarshaller" /> -->
<!-- 				<property name="supportedMediaTypes" value="application/xml;charset=UTF-8" /> -->
<!-- 			</bean> -->
		</mvc:message-converters>
		<!-- <mvc:argument-resolvers>
			<bean class="com.hexin.core.page.MultPageableArgumentResolver" />
		</mvc:argument-resolvers> -->
	</mvc:annotation-driven>

    <!-- 拦截器 -->
    
<!--     <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/ivr/**"/>
            <bean class="com.awifi.sms.interceptor.ApiAuthInterceptor">
            </bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/ivr/**" />
            <bean class="com.awifi.sms.interceptor.IvrAuthInterceptor">
                <property name="authip" value="127.0.0.|192.168.1.|192.168.4.|172.22.2.|192.168.10.|172.22.1."></property>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors> -->
<!-- 	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/jsp/"/> 
		<property name="suffix" value=".jsp"/>
	</bean> -->
	 <bean  id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/jsp/"
          p:suffix=".jsp"/>

    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="urlMap">
            <map>
                <entry key="/error/**" value="errorResourceHandler" />
            </map>
        </property>
        <property name="order" value="100000" />
    </bean>
    <bean id="errorResourceHandler" class="org.springframework.web.servlet.resource.ResourceHttpRequestHandler">
        <property name="locations" value="/error/" />
        <property name="supportedMethods">
            <list>
                <value>GET</value>
                <value>HEAD</value>
                <value>POST</value>
            </list>
        </property>
	</bean>
</beans>
