/**
 * information
 * @authors pingyf
 * @date    2015-10-29 11:41:20
 * @version $Id$
 */

 .buycontainer {
	padding-bottom: 15px;
}


.buy-save {
	margin-top: 50px;
}

.buy-padding {
	padding: 1.5rem 0;
}
.buy-day {
	height: 3rem;line-height: 3rem;
}
.buy-unit {
	margin-left: 1rem;height: 1.5rem;line-height: 1.5rem;
}
.buychoosenum {
	width: 2rem;vertical-align: middle;
}
.buychoosetext {
	width: 4rem;line-height: 24px;height: 2.5rem;vertical-align:middle;
}
.buymodalrow {
	height: 50px;line-height: 50px;font-size: 1.7rem;
}
