  .logininput {
    padding: 15px 0;
    margin-bottom: 25px;
 }

.loginlogo {
	height: 155px;
	margin-bottom: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

@media screen and (max-width:320px){
	.loginlogo {
		height: 135px;
	}
}


.loginlogo-icon {
	display: block;
	position: relative;
	top: 20%;
	max-width: 230px;
}

.logincontainer {
	margin-top: 0;
    margin-bottom: 85px;
}

.forget {
	margin-top: -10px;
}

.forget:before {
	content: '999';
	font-size: 1.2rem;
	height: 100%;
	margin-top: 5px;
	background: url(../../img/login/forget.png) no-repeat center;
	background-size: 70%;
	color: transparent;
}

.loginbutton {
	padding: 45px 0;
}

.loginErr {
	text-align: center;
	padding-bottom: 0.5rem;
	min-height: 25px;
}
