 .infocontainer {
	padding-bottom: 15px;
}

.info-avatar {
	/*margin-top: 20px;*/
	padding: 10px 0;
	height: 80px;
	line-height: 80px;
}

.info-avatar,
.info-nick,
.info-sex,
.info-birthday,
.info-address {
	border-bottom: 1px dashed #DEDEDE;
}

.info-sex label {
	margin-top: 12px;
}

.info-avatar-file {
    position: absolute;
    width: 23%;
    right: 0;
    font-size: 5rem;
    overflow: hidden;
}

.info-birthday-input {
    position: absolute;
    width: 37%;
    right: 5%;
    overflow: hidden;
}

.info-avatar-img {
    padding-top: 10px;
    max-width: 80px;
    max-height: 80px;
}

@media screen and (min-width:700px){
	.info-avatar-img {
	    padding-top: 0;
	}
}

.info-input {
	padding: 0;
	margin: 0;
	border: 0;
}

.info-input[type=text] {
	text-align: right;
}

/*.info-input[type=text]::-webkit-input-placeholder {
	text-align: right;
}
*/

.info-checkbox-secrect,
.info-checkbox-male,
.info-checkbox-female {
	height: 0;
	width: 0;
	visibility: hidden;
}

.info-input-address {
    padding: 10px 0;
    margin-top: 0;
    margin-bottom: 0;
    resize: none;
    height: 80px;
}

.information-save {
	margin-top: 50px;
}