/**
 * setting
 * @authors pingyf (koakumaping@163.com)
 * @date    2015-11-04 12:45:18
 * @version $Id$
 */

.setting-text {
	padding: 15px 0;
	
}

.setting-input {
	border: 0;
	padding: 10px 0;
	text-indent: 0;
    display: block;
}

.setting-input[type=time] {
	font-size: 1.7rem;
}

.setting-down-arrow {
    width: 25px;
    margin-top: 5px;
}

.setting-color {
	height: 25px;
	width: 50px;
	margin: 0 5px;
}

.setting-select {
	right: 0;
}

.setting-logo-img {
	width: 70%;
	max-height: 120px;
	max-width: 180px;

}

.setting-logo-file {
	opacity: 0;
}

.setting-logo-img-change {
	display: block;
}

.setting-information-text-area {
	padding: 15px 15px;
	overflow: hidden;
	display: block;
	/*border: 0;*/
}

.setting-time-text {
	padding: 10px 0;
}

.setting-time-text-span {
	margin-left: 15px;
}

.setting-time-afternoon{
    border-left: 5px solid #f1f1f1;
}

.setting-save {
	padding: 40px 0;
}

textarea {
	border: none;text-indent: 1.5rem;
}
.bottomline {
    border-bottom: 1px dashed #DEDEDE;
}


