/**
 * index
 * @authors pingyf
 * @date    2015-10-30 11:39:45
 * @version $Id$
 */

/*用于获取更加体验*/

.carousel-edit {
	padding: 10px 0;
}

.focus span {
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border-radius :50%;
	background: #ffffff;
	font-size: 0;
}

.focus span.current {
	background: #FF7054;
}

.inputlimit {
	text-align: right;padding-right:1rem
}
.edit-add {
	min-height: 90px;background-color: #F1F1F1;
}
.edit-inner-div {
	padding:20px 0 20px 60%;width:35%
}
.edit-save {
	background: white;border: none;color: #999999;
}
.edit-margin {
	margin: 0.5rem 0;
}
