/**
 * personal
 * @authors Ping YF (koakumaping@163.com)
 * @date    2015-12-10 15:01:44
 * @version $Id$
 */

.personal-img {
	height: 6.666667rem;
	padding: 0.833333rem 0.833333rem 0.833333rem 0;
}

.personal-info {
	padding-top: 1.333333rem;
}

.personal-next {
	padding-top: 3.5rem;
}

.personal-next-img {
	height: 1.25rem;
}

.personal-border-bottom {
	border-bottom: 0.083333rem solid #F7F7F7;
}

.personal-logout {
	padding-top: 2.5rem;
}

.mininfo {	
	color:#ccc
}
.minspan {
	display:block
}
.indent {
	text-indent: 1.5rem;
}
.bottomline {
	border-bottom: 1px dashed #DEDEDE;
}
