
.pwdcontainer {
	padding-top: 30px;
	padding-bottom: 25px;
}

 .pwdcontainer input {
    padding: 15px 0;
    margin-bottom: 25px;
 }
 
.pwdsubmit {
	margin-top: 0px;
}

.pwdError {
	text-align: center;padding-bottom: 0.5rem;min-height: 25px;
}
