/**
 * registre
 * @authors pingyf
 * @date    2015-10-28 11:24:54
 * @version $Id$
 */

.regcontainer {
	padding-top: 30px;
	padding-bottom: 5px;
}

 .regcontainer input {
    padding: 15px 0;
    margin-bottom: 25px;
 }

.regsubmit {
	margin-top: 75px;
}

.regcheckbox {
	visibility: hidden;
	width: 28px;
	height: 28px;
	position: absolute;
}

.register-agree-text {
	font-size: 1.3rem;
}

@media screen and (max-width:320px){
	.register-agree-text {
		font-size: 1.15rem;
	}
}

.regErr {
	text-align: center;padding-bottom: 0.5rem;min-height: 25px;
}
